 nav{
    display: flex;
    justify-content: space-around; 
    background: white;
    border: 1px solid white;
    /* width: 100%;
    top: 0; 
    left: 0;
    right: 0;
    margin: 10px;
    */ 
 }
.part1{
display: flex;
list-style-type: none;
gap: 15px;
}
.part2{
gap:30px;
}
.dimension{
width:30px; 
height:30px;
}
input{
width:300px; 
height:30px; 
background-color:rgba(214, 214, 214, 0.851);
}
main{
    width:80%;
    margin: auto;
}
#picture{
background-image: url(1686295905664.jfif);
background-repeat: no-repeat;
margin-bottom:70px;
height:270px;
border-radius:10px;
}
#button{
 display: flex;
 list-style-type: none;
 gap: 20px;  
}
#button button{
border-radius:20px;
padding:5px;
}
#connexion{
background-color: blue;
}
a{
text-decoration: none;
}
#picture img{
    border-radius:120px;
    margin-left:20px;
    margin-top:120px;
    border:solid white;
}
#section1{
    width:1090px;
    height:600px;
   
}

