:root{
--color-gray:gray;
}
.written-color{
color:var(--color-gray);
}
*{
 margin: 0;
 padding: 0;
}
.colorP{
color: black;
}
.you img{
width:40px; 
height:40px;
border-radius:120px;
}
 .titleicon{
font-size:12px;
color:var(--color-gray);
}
p{
color: var(--color-gray)
}
@font-face {
    font-family: 'Segoe UI', sans-serif;
    src: url("Segoe_UI/Segoe\ UI.ttf") format("truetype");
}
body{
background-color: rgb(232, 232, 232);
font-family: 'Segoe UI', sans-serif;
font-size:15px;
 }
 header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
 nav{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:50px;
    background: white;
    padding:9px;
 }
.part1{
display: flex;
list-style-type: none;
gap:30px;
}
.part2{
border-right:1px solid gray;
}
.part3 a{
    display: flex;
    flex-direction: column;
}
.sizeimg img{
border-radius:150px;
max-width:30px;

}

.dimension{
width:30px; 
height:30px;
}
input{
width:300px; 
height:30px; 
background-color:#EDF3F8;
border-style: none;
}
main{
    
    width:80%;
    margin: auto;
    margin-top:90px;
    display: flex;
    gap:20px;
    justify-content: center;
}
.picture{
background-image: url(1686295905664.jfif);
background-repeat:no-repeat;
background-size:contain;

}
.buttonspresent{
 display: flex;
 list-style-type: none;
 gap: 20px;  
}
button{
border-radius:20px;
padding:10px;
border-style: none;
font-weight:bold;
}
#connexion{
background-color: blue;
}
a{
text-decoration: none;
}
.picture img[alt="pictures"]{
    border-radius:120px;
    margin-top:120px;
    margin-left:20px;
    border:solid white;
}
/* #section1{
    width:1090px;
    height:600px; 
} */
figure{
/* border-radius:10px;
border: solid var(--color-gray) 1px; */

}
#selection{
display: flex;
gap:20px;
}

#selection img[alt = "select"]{
max-width:100%;
max-height:50%;
}
.activite{
border-bottom: solid 1px grey;
}
.activite button{
border-radius:20px;
padding:8px;
border-style: none;
font-weight:bold;
}
.img-activite{
height: 90px;
}
 #plus a{
 display:flex;
 justify-content:center;
 align-items:center;

} 

.boxsection{
background-color: white;
border: solid 1px grey;
padding:12px;   
border-radius:20px;
margin-bottom:10px;
/* margin-right:600px; */
} 
#selection2 img{
    display: flex;
    width:100px;
    height:100px;   
}
.pictureprile img{
    border-radius:200px;
    max-width:60px;
}
.flexx ul{
   display:flex;
    list-style-type: none;
}
.exp{
width:40px; 
height:40px;
}
.flextitle{
display: flex;
}
.lead{
    border-left:1px solid;
}
.separate{
    list-style-type: none;
    gap:50px;

}
.buttonscompet{
    border-radius:20px;
    padding:10px;
}
