 nav{
    display: flex;
    justify-content: space-around; 
    background: white;
    border: 1px solid white;
    /* width: 100%;
    top: 0; 
    left: 0;
    right: 0;
    margin: 10px;
    */ 
 }
.part1{
display: flex;
list-style-type: none;
gap: 15px;
}
.part2{
gap:30px;
}
.dimension{
width:30px; 
height:30px;
}
input{
width:300px; 
height:30px; 
background-color:rgba(214, 214, 214, 0.851);
}
main{
    width:80%;
    margin: auto;
}
#picture{
display: flex;
background-image: url(1686295905664.jfif);
background-repeat: no-repeat;
padding:50px;
}
#picture img{
border-radius:170px;
border:5px solid white;
}
#profil{
display: flex;
}

